/* 구글 웹폰트 */
/*@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic|Noto+Sans+KR&display=swap");*/

@font-face {
    font-family: NanumBarunGothic;
    src: url("/resources/font/NanumBarunGothic.otf") format("opentype"),
    url("/resources/font/NanumBarunGothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: NanumBarunGothicBold;
    src: url("/resources/font/NanumBarunGothicBold.otf") format("opentype"),
    url("/resources/font/NanumBarunGothicBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: NanumBarunGothicLight;
    src: url("/resources/font/NanumBarunGothicLight.otf") format("opentype"),
    url("/resources/font/NanumBarunGothicLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: "NanumBarunGothic" !important;
}

#cancel_img {
    width: 1rem;
    height: 1rem;
}

#container {
    margin: 20px;
    /*margin: 0 auto; !* 가로로 중앙에 배치 *!*/
}

.navbar img {
    vertical-align: middle;
}

.nav-link {
    font-size: 1.0em;
    color: black;
}

.nav-link:hover {
    font-size: 1.0em;
    font-weight: 700;
    color: #999999;
}

.form-inline {
    font-size: 0.813rem;
}

.form-inline a:hover { /*클릭하지 않은 링크*/
    text-decoration: none;
}

.form-inline a img {
    vertical-align: middle;
    /* 	width: 2.0em;
    height: 2.0em; */
}

.snschat img {
    width: 2.0em;
    height: 2.0em;
}

.table th {
    font-size: 0.938em;
    /*font-weight: 700;*/
}

.table td span {
    font-size: 0.938em;
    /*font-weight: 600;*/
}

.table td a {
    font-size: 0.938em;
    /*font-weight: 700;*/
    text-decoration: none;
}

.table .etc span {
    /*font-family: 'Gothic A1', sans-serif;*/
    font-size: 0.813em;
    /*font-weight: 600;*/
}

.userimg {
    width: 13.0em;
    height: 13.0em;
}

.tcenter {
    text-align: center;
}