<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <!-- <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>-->
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="jdbc" level="OFF"/>

    <!-- SQL문만 로깅, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문 출력 -->
    <logger name="jdbc.sqlonly" level="OFF"/>

    <!-- SQL문과 수행 시간 정보(milliseconds) 포함 -->
    <logger name="jdbc.sqltiming" level="DEBUG"/>

    <!-- ResultSet을 제외한 모든 JDBC 호출 정보 로깅. JDBC 문제를 추적해야 할 필요가 있는 경우에만 사용 -->
    <logger name="jdbc.audit" level="OFF"/>

    <!-- ResultSet을 포함한 모든 JDBC 호출 정보 로깅. 로그양이 많음 -->
    <logger name="jdbc.resultset" level="OFF"/>

    <!-- SQL 결과를 table 형태로 로깅 -->
    <logger name="jdbc.resultsettable" level="INFO"/>

    <!-- Connection의 연결과 종료에 관련된 로깅. 메모리 누수 확인? -->
    <logger name="jdbc.connection" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>