<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootmybatisproject.survey.repository.SurveyMapper">


    <!-- 설문 항목 불러오기 -->
    <select id="findBySurveyListAll" resultType="SurveyItemVO">
        SELECT itemId
             , groupCd
             , itemCd
             , itemNm
             , itemComm
        FROM bbs_survey_item_cd
    </select>

    <!-- 설문 항목 저장 -->
    <insert id="registerSurveyList" parameterType="SurveyVO" useGeneratedKeys="true" keyProperty="surveyId">
        INSERT INTO bbs_survey ( surveyId
                               , majorItem
                               , nonMajorStudyItem
                               , ageItem
                               , careerItem
                               , incomeItem
                               , jobItem
                               , useOSItem
                               , useDBItem
                               , useEditorItem
                               , confidentLangItem
                               , confidentLangItem2
                               , learnLangItem
                               , learnLangItem2
                               , accountId)
        VALUES ( #{surveyId}, #{majorItem}, #{nonMajorStudyItem}, #{ageItem}, #{careerItem}, #{incomeItem}
               , #{jobItem}, #{useOSItem}, #{useDBItem}, #{useEditorItem}, #{confidentLangItem}, #{confidentLangItem2}
               , #{learnLangItem}, #{learnLangItem2}, #{accountId});
    </insert>

    <!-- 예비/경력 개발자 전공 여부 조사 결과 - 막대 그래프 -->
    <select id="findBySurveyMajorItemRes"
            resultType="com.spring.springbootmybatisproject.survey.model.SurveyResult$BarGraphDTO">
        <![CDATA[
        SELECT IF(ba.devCheck = 'C', '경력개발자', '예비개발자')           'barName',
               count(CASE WHEN bs.majorItem = 'MAJ' THEN 1 END)  'barVal1',
               count(CASE WHEN bs.majorItem = 'NMAJ' THEN 1 END) 'barVal2'
        FROM bbs_new_account ba
                 left join bbs_survey bs on ba.accountId = bs.accountId
        GROUP BY ba.devCheck;
        ]]>
    </select>

    <!-- 비전공자 개발 공부 학습 방법 조사 결과 - 파이그래프 -->
    <select id="findBySurveyNonMajorStudyItemRes"
            resultType="com.spring.springbootmybatisproject.survey.model.SurveyResult$PieGraphDTO">
    <![CDATA[
        SELECT b.nonMajorCnt AS pieName, ROUND((b.cnt / a.cnt * 100), 0) AS pieVal
        FROM (SELECT count(*) cnt FROM bbs_survey bs WHERE bs.nonMajorStudyItem <> '') a,
             (SELECT count(nonMajorStudyItem) cnt,
                     (CASE
                          WHEN nonMajorStudyItem = 'ACA' THEN '학원'
                          WHEN nonMajorStudyItem = 'ONL' THEN '온라인 강의'
                          WHEN nonMajorStudyItem = 'STU' THEN '스터디 모임'
                          WHEN nonMajorStudyItem = 'SEF' THEN '혼자 학습'
                         END) AS              nonMajorCnt
              FROM bbs_survey
              WHERE nonMajorStudyItem <> ''
              GROUP BY nonMajorCnt) b
        ORDER BY pieVal DESC;
        ]]>
    </select>
</mapper>