<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootmybatisproject.survey.repository.SurveyMapper">


    <!-- 설문 항목 불러오기 -->
    <select id="findBySurveyListAll" resultType="SurveyItemVO">
        SELECT itemId
             , groupCd
             , itemCd
             , itemNm
             , itemComm
        FROM bbs_survey_item_cd;
    </select>

    <!-- 설문 항목 저장 -->
    <insert id="registerSurveyList" parameterType="SurveyVO" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO bbs_survey ( majorItem
                                , nonMajorStudyItem
                                , ageItem
                                , careerItem
                                , incomeItem
                                , jobItem
                                , useOSItem
                                , useDBItem
                                , useEditorItem
                                , confidentLangItem
                                , confidentLangItem2
                                , learnLangItem
                                , learnLangItem2
                                , accountId)
        VALUES ( #{majorItem}, #{nonMajorStudyItem}, #{ageItem}, #{careerItem}, #{incomeItem}
        , #{jobItem}, #{useOSItem}, #{useDBItem}, #{useEditorItem}, #{confidentLangItem},#{confidentLangItem2}
        , #{learnLangItem},#{learnLangItem2}, #{accountId});
    </insert>
</mapper>