<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootmybatisproject.board.repository.BoardMapper">
    <!--
        resultType에서 List 부분의 경우 List을 전달 하는 것이 아니라 결과 형(String, Map 등등)을 전달 하는것
        출처: https://lahuman.jabsiri.co.kr/56 [lahuman & jabsiri 노트]
     -->

    <!-- 게시글 총 갯수 -->
    <select id="boardListTotalCnt" resultType="Integer">
        SELECT count(*)
        FROM bbs_board;
    </select>

    <!-- 게시글 목록 -->
    <select id="findAll" resultType="BoardVO">
        SELECT row_number() over (ORDER BY boardId)            AS no,
               boardId,
               title,
               writer,
               viewCnt,
               replyCnt,
               DATE_FORMAT(boardDatetime, '%Y-%m-%d %H:%i:%s') AS boardDatetime
        FROM bbs_board
        ORDER BY no DESC
        limit #{startIndex}, #{cntPerPage};
    </select>

    <!-- 게시글 상세 보기 -->
    <select id="findByBoardId" resultType="BoardVO">
        SELECT boardId, title, content, writer, DATE_FORMAT(boardDatetime, '%Y-%m-%d %H:%i:%s') AS boardDatetime, replyCnt
        FROM bbs_board
        WHERE boardId = #{boardId};
    </select>

    <!-- 게시글 작성 -->
    <insert id="saveBoardWrite" parameterType="BoardVO">
        INSERT INTO bbs_board (accountId, title, content, writer)
        VALUES (1, #{title}, #{content}, 'admin')
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateById" parameterType="BoardVO">
        UPDATE bbs_board
        SET title           = #{title},
            content         = #{content},
            boardUpDatetime = #{boardUpDatetime}
        WHERE boardId = #{boardId};

    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM bbs_board
        WHERE boardId = #{boardId};
    </delete>

    <!-- 게시글 검색 -->
    <select id="boardSearchListCnt" resultType="Integer">
        SELECT count(*)
        FROM bbs_board;
    </select>
    <select id="findBySearchKeyword" parameterType="String" resultType="BoardVO">
        SELECT row_number() over (ORDER BY boardId)            AS no,
               boardId,
               title,
               writer,
               viewCnt,
               replyCnt,
               DATE_FORMAT(boardDatetime, '%Y-%m-%d %H:%i:%s') AS boardDatetime
        FROM bbs_board
        WHERE title LIKE CONCAT('%',#{keyword},'%')
           OR content LIKE CONCAT('%',#{keyword},'%')
           OR writer LIKE CONCAT('%',#{keyword},'%')
        ORDER BY no DESC;
    </select>


    <!-- 게시글 조회수 -->
    <update id="increaseViewCnt" parameterType="Long">
        UPDATE bbs_board
        SET viewCnt = viewCnt + 1
        WHERE boardId = #{boardId};
    </update>


</mapper>