<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootmybatisproject.account.repository.AccountMapper">
<!--    <select id="findAll" resultType="AccountVO">-->
<!--        SELECT *-->
<!--        FROM bbs_account-->
<!--    </select>-->


<!--    &lt;!&ndash;    <select id="findByAccount" resultType="AccountVO" parameterType="AccountVO">&ndash;&gt;-->
<!--    &lt;!&ndash;        SELECT accountId, accountEmail, accountPassword, userName&ndash;&gt;-->
<!--    &lt;!&ndash;        FROM bbs_account&ndash;&gt;-->
<!--    &lt;!&ndash;        WHERE accountEmail = #{accountEmail} AND accountPassword = #{accountPassword};&ndash;&gt;-->
<!--    &lt;!&ndash;    </select>&ndash;&gt;-->

<!--    <select id="findByAccount" resultType="AccountVO" parameterType="AccountVO">-->
<!--        SELECT accountId, accountEmail, accountPassword, userName-->
<!--        FROM bbs_account-->
<!--        <where>-->
<!--            <if test="accountEmail != null and accountPassword != null">-->
<!--                AND accountEmail = #{accountEmail} AND accountPassword = #{accountPassword};-->
<!--            </if>-->
<!--            &lt;!&ndash;            <if test="accountEmail != null">&ndash;&gt;-->
<!--            &lt;!&ndash;                AND accountEmail = #{accountEmail}&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="accountPassword != null">&ndash;&gt;-->
<!--            &lt;!&ndash;                AND accountPassword = #{accountPassword}&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--        </where>-->

<!--    </select>-->
</mapper>