<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootmybatisproject.account.repository.NAccountMapper">

    <!-- 회원가입 -->
    <insert id="saveSignUp" parameterType="NAccountVO" useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO bbs_new_account(accountId, accountUserId, accountUserNm, accountEmail, accountPassword, devCheck)
            VALUE (#{accountId}, #{accountUserId}, #{accountUserNm}, #{accountEmail}, #{accountPassword}, #{devCheck});
    </insert>
    <!-- //회원가입 -->

    <!-- 회원 아이디 중복체크 -->
    <select id="findByDuplicateUserIdCnt" resultType="int">
        SELECT COUNT(*)
        FROM bbs_new_account
        WHERE accountUserId = #{accountUserId};

    </select>
    <!-- //회원 아이디 중복체크 -->

    <!-- 계정 로그인 -->
    <select id="findByAccount" parameterType="NAccountVO" resultType="NAccountVO">
        SELECT accountId, accountUserId, accountUserNm, accountEmail, accountPassword, devCheck, createDt, updateDt
        FROM bbs_new_account
        <where>
            <if test="accountUserId != null and accountPassword != null">
                AND accountUserId = #{accountUserId} AND accountPassword = #{accountPassword};
            </if>
            <!--            <if test="accountEmail != null">-->
            <!--                AND accountEmail = #{accountEmail}-->
            <!--            </if>-->
            <!--            <if test="accountPassword != null">-->
            <!--                AND accountPassword = #{accountPassword}-->
            <!--            </if>-->
        </where>
    </select>
    <!-- //계정 로그인 -->


</mapper>